body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: #232323;
	color: #fff;
}

/*// colors
// #565656 dark gray
// #eec583 code yello
// #74dbca code blue
// #a3a3a3 light gray
// #232323 black
*/
/*****  Navbar *****/
/* Small Screen navbar styles */
#navbar {
	box-sizing: border-box;
}

#nav-brand {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 1px;
	font-family: 'Montserrat';
}

@media (max-width: 498px) {
	#menu-btn {
		display: block;
	}
	#menu {
		display: none;
	}
	.nav-container {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 10px;
	}
	.nav-container button {
		color: #fff;
		background-color: #565656;
		border: none;
		border-radius: 5px;
		padding: 10px;
	}
	.fa-bars {
		margin-left: 5px;
	}
	#menu-btn {
		width: 48%;
		text-align: right;
		padding-right: 2%;
	}
	#nav-brand {
		width: 48%;
		
		padding-left: 2%;
	}
	#dropdown ul {
		list-style: none;
		text-align: left;
		padding-left: 4%;
		margin-top: 0;
	}
	#dropdown ul li {
		padding-bottom: 4px;
		font-weight: bold;
	}
	#dropdown ul li a:hover {
		color: #18bc9c;
	}
}

@media (min-width: 500px) {
	#navbar {
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}
	#menu a {
		font-weight: bold;
		letter-spacing: 2px;
	}
	#menu a:hover {
		color: #18bc9c;
	}
	#menu a:nth-of-type(2), #menu a:nth-of-type(1) {
		padding-right: 12px;
	}
	#menu-btn {
		display: none;
	}
	#dropdown {
		display: none;
	}
}

/***** Header *****/
header {
	/*background-color: #74dbca;*/
	background-color: #18bc9c;
	color: #fff;
	text-align: center;
}

header h1 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: normal;
	margin: 0 0 30px 0;
	font-size: 70px;
}

a {
	text-decoration: none;
	color: #fff;
}

.email {
	margin-bottom: 10px;
	font-size: 20px;
}

.job-title p {
	font-size: 30px;
	margin: 0;
}

/*header links*/
.links {
	font-size: 1.8em;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	display: grid;
	grid-template-columns: 60px 60px 60px;
	align-items: center;
}

.fa-free-code-camp {
	background-color: #006400;
	border-radius: 4px;
	padding: 5px;
}
.fa-free-code-camp:hover {
	background-color: #000;
	transition: .2s;
}

.fa-linkedin-in {
	background-color: #006fa6;
	border-radius: 4px;
	padding: 5px;
}
.fa-linkedin-in:hover {
	background-color: #000;
	transition: .2s;
}
.fa-github {
	background-color: #24292e;
	border-radius: 4px;
	padding: 5px;
}

.fa-github:hover {
	background-color: #000;
	transition: .2s;
}

